
    <div class="catalogue-item">
        <div>{{ .Params.author}} </div>
        <a href="{{.Permalink}}">
            <h1 class="catalogue-title"> {{ .Title }} </h1>
            <div class="catalogue-line"></div>
        </a>
         <p>
            {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}<br>
             <a href ="{{.Permalink}}">Читать далее</a>
         </p>

        <div>{{ if .Params.tags }}{{range .Params.tags}}<span class="catalogue-tags"><a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="tags" >{{ . }}</a></span>{{end}}{{end}}</div>
    </div>

